
<nav class="placeholder">

    <section class="language-nav">
        <ul>
            <li><a href="#">CSS</a></li>
            <li><a href="#">HTML</a></li> 
            <li><a href="#">Javascript</a></li> 
            <li><a href="#">Ruby</a></li>
        </ul>
    </section>

    <section class="masthead">
        <section class="logo">
         <img class="logo" src="assets/AA_Times_Logo.png" alt="aa-paper-logo">
        </section>
    
        <section>
            <ul class="masthead-links">
                <li>Tuesday, October 18, 2016  </li>
                <li><i class="far fa-newspaper"></i><span class="icon">Today’s Paper</span></li>
                <li><i class="fas fa-video"></i><span class="icon">Video</span></li>
                <li class="temp">77°F</li>
                <li>AAO<span class="ticker"> +100%</li>
            </ul>
                
        </section>
    </section>
</nav>