/* PHASE 7: Online */

.online {
    display: block;
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: limegreen;
    color: white;
    font-weight: 600;
    font-size: 14px;
    box-shadow: 2px 2px 2px green;
    text-transform: uppercase;
    letter-spacing: 3px;
    top: -25px;
    left: -10px;
    transform: rotate(-45deg) translate(-25%);
    padding: 5px 30px;
}

.profile-picture {
    overflow: hidden;
}