<section class="section-main">
<section class="part-1">
    <section class="col col-1-3">
        <h2>Launching the New React/Redux Curriculum</h2>
        <p class="byline">By APP ACADEMY INSTRUCTIONAL TEAM</p>
        <ul>
            <li><p class="art-format">It helps you write applications that behave consistently, run in different environments (client, server, and native), and are easy to test. On top of that, it provides a great developer experience, such as live code editing combined with a time traveling debugger.</p></li>

            <li><p class="art-format">The whole state of your app is stored in an object tree inside a single store. The only way to change the state tree is to emit an action, an object describing what happened. To specify how the actions transform the state tree, you write pure reducers.</p></li>
        </ul>
        <p><a href="#">1738 Comments</a></p>
    </section> 

    <section class="col col-2-3">

        <section class="video">
            <section class="resp-container">
                <iframe class="resp-iframe" src="https://www.youtube.com/embed/ARe9FupzuOA" frameborder="0" allowfullscreen></iframe>
            </section>
            <p class="art-format">Warning: This video will make you want to change your career</p>
        </section>
        <section class="articles">
            <h3>Where Are They Now?</h3>
            <p class="byline">By APP ACADEMY ALUMNI</p>
            <p class="art-format">First hand stories from App Academy graduates about transitioning to engineering positions at top tech companies in San Francisco.</p>

            <h3>Cat Academy</h3>
            <p class="byline">By APP ACADEMY DIRECTOR OF PRODUCTS</p>
            <p class="art-format">App Academy's latest product targets those interested in owning the popular feline companion by providing a curated cat care curriculum.</p>
        </section>
    </section>
</section>
    
<section class="opinion">

    <h3>The Opinion Pages</h3>

    <section class="op-cols">
        <section class="col col-1-2">
            <h4 class="op-sub">Op-Ed Contributor</h4>
            <h3>Will Javascript ever be as easy as Ruby?</h3>
                <p class="art-format">Javscript continues to advance with the newly released EcmaScript7 but it still doesn't quite read like Ruby.</p>

                <ul>
                    <li>Torvalds: When I Was Almost Wrong</li>
                    <li>Knuth: Art of Programming</li>
                    <li>Lovelace: The First Algorithm</li>
                    <li>Hopper: The First Bug</li>
                    <li>Thompson: Go C Unix</li>
                    <li>Carmack: My Virtual Reality</li>
                    <li>Stallman: Free Speech Not Free Coffee</li>
                </ul>

        </section> 
        <section class="col col-1-2">
            <h4 class="op-sub">Operations<h4>
            <h3>App Academy New York Has A Brand New Office</h3>
                <p class="byline">By NY OPERATIONS</p>

                <p class="art-format">The new space features hardwood floors and brick walls for a modern technology space with an aura for learning.</p>
                <img src="assets/new_office.jpg" alt="new-office">
                <h3>Opinion Today, in your Inbox</h3>
                <p class="art-format">Each weekday, get though-provoking commentary from our columnists and contributors.</p>

        </section>
    </section>

    <section class="opt-in">

        <button>Sign Up</button> 

        <p class="subtext">We'll also send offers to join the App Academy Bootcamp. You can never unsubscribe.</p> 
   
    </section>
    
</section>
</section>