<h1> Welcome new user! </h1>


<form action="<%= users_url %>" method="put">

    <input type="hidden" name="_method" value="post">
  <label>email
    <input type="text" value="<%= @user.email %>" name="user[email]" />
  </label>

  <label>password
    <input type="text" value="<%= @user.password %>" name="user[password]" />
  </label>

  <input type="submit" value="Create user">
</form>