<h1><%= @user.username %>'s Library</h1>
<a href="<%=new_sub_url%>">Have something to share?</a>
<h3>Here's a collection of your thoughts on things:</h3>
  <ul>
  <% @user.subs.each do |sub| %>
      <li><a href="<%=sub_url(sub)%>"> <%= sub.title%></a></li>
    <% end %>
</ul>

<h3>Whomst do you follow?</h3>